.app-nav-btn-active {
    background-color: black;
    color: #ffffff;
    height: 5%;
}

.nvn {
    background: rgb(89, 20, 20);
background: linear-gradient(90deg, rgb(233, 99, 229) 0%, rgba(233, 99, 229) 51%, rgba(0, 0, 0, 0.834) 100%);
    padding: 20px; /* Increased padding for a larger navigation bar */
    text-align: right; /* Align the content to the right */
    height: 65px;
    position: relative; /* Make sure the ::after pseudo-element is positioned relative to the nav */
}

.navigation {
    display: flex;
}

/* Add a black line in the middle of the navbar */
nav::after {
    content: '';
    position: absolute;
    top: 10px;
    bottom: 10  px;
    left: 50%;
    border-left: 3px solid rgb(0, 0, 0);
}

.nav-button-margin {
    margin-left: 50%;
}

.navbutton {
    font-weight: bold;
    text-decoration: none;
    color: #9e42f5;
    padding: 15px 30px;
    margin: 0 10px 0 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbutton:hover {
    background-color: #000000;
}

.navbutton {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.364);
}

.nvnname {
    font-weight: bolder;
    margin-left: -100px;
    margin-top: -8px;
    color: #361342;
    font-size: x-large;
}

.nav_iconsize {
    margin-right: 2.5%;
    width: 10%;
}